@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
}

.circle_top {
    position: absolute;
    top: -550px;
    left: -800px;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

.background_circle_top {
    position: relative;
}

.circle_bottom {
    position: absolute;
    bottom: -550px;
    right: -800px;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

.background_circle_bottom {
    position: relative;
}

.container {
    width: 335px;
    height: max-content;
    align-self: center;
}

.top_card {
    background-image: url(images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 140px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.bottom_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    background-color: #fefefe;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 0 5px hsl(0, 0%, 59%);
}

.img_profile_picture {
    border: 5px solid #fefefe;
    border-radius: 50%;
}

.background_img {
    position: relative;
}

.img_profile_picture {
    position: absolute;
    bottom: -50px;
    left: -50px;
}
.profile {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    line-height: 1.8rem;
    flex: 1;
}
.about {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex: 0.7;

}
.followers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.likes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about p {
    font-size: 0.6em;
    letter-spacing: 0.1rem;
}

p { 
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(0, 0%, 59%);
}

h1 {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    color: #383737;
}

#age {
    font-weight: lighter;
    color: hsl(0, 0%, 59%);
}

@media screen and (min-width: 1080px) {
   
    .circle_top {
        top: -510px;
        left: -800px;
        opacity: 1;
    }

    .circle_bottom {
        bottom: -625px;
        right: -750px;
    }
}



.credits {
    font-size: 10px;
    align-self: center;
    padding-top: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    
}

.credits p {
    color: #fefefe;
}

.credits a {
    text-decoration: none;
    color: #060606;
}
